
.admin {
    background: #fff;
    
    .container {
        padding-top: 0;
    }

    #carousels {
        margin-top: 80px;
    }

    .thumbnail > img, .thumbnail a > img {
        height: 210px;
    }

    .add.btn {
        margin-left: 1rem;
    }

    .admin-list {
        list-style: none;
        display: flex;
        position: fixed;
        z-index: 100;
        li {
            margin: 0.5rem 0.5rem;
            display: inline-block;
            line-height: 1.5;
            background: #fff;
            border: 1px solid #f5f5f5;
            box-shadow: 5px 5px 5px #ccc;
            a {
                padding: 0.5rem 0.75rem;
                display: inline-block;
                width: 100%;
                height: 100%;
            }
        }
    }

    .setting-list {
        display: flex;
        li {
            display: inline-block;
            min-width: 150px;
        }
    }
    .friend {
        margin-right: 10px;
        display: inline-block;
        width: auto;
        height: 50px;
    }
    .friendlogo {
        display: inline-block;
    }

    form {
        // width: 70%;

        .note-editor.note-frame .note-editing-area .note-editable {
            min-height: 300px;
            overflow: scroll;
        }
    }

    #toTop {
        padding: 0.75rem 0.35rem;
        display: inline-block;
        position: fixed;
        top: 100vh;
        right: 1rem;
        background: #fff;
        transform: translate3d(0, -150%, 0);
        z-index: 999;
        box-shadow: 0 2px 3px rgba(0, 0, 0, .075);
        cursor: pointer;
    }



}