.admin {
  background: #fff; }
  .admin .container {
    padding-top: 0; }
  .admin #planes {
    margin-top: 80px; }
  .admin .thumbnail > img, .admin .thumbnail a > img {
    height: 210px; }
  .admin .add.btn {
    margin-left: 1rem; }
  .admin .admin-list {
    list-style: none;
    display: flex;
    position: fixed;
    z-index: 100; }
    .admin .admin-list li {
      margin: 0.5rem 0.75rem;
      display: inline-block;
      line-height: 1.5;
      background: #fff;
      border: 1px solid #f5f5f5;
      box-shadow: 5px 5px 5px #ccc; }
      .admin .admin-list li a {
        padding: 0.5rem 1rem;
        display: inline-block;
        width: 100%;
        height: 100%; }
  .admin .setting-list {
    display: flex; }
    .admin .setting-list li {
      display: inline-block;
      min-width: 150px; }
  .admin form .note-editor.note-frame .note-editing-area .note-editable {
    min-height: 300px;
    overflow: scroll; }
  .admin #toTop {
    padding: 0.75rem 0.35rem;
    display: inline-block;
    position: fixed;
    top: 100vh;
    right: 1rem;
    background: #fff;
    transform: translate3d(0, -150%, 0);
    z-index: 999;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.075);
    cursor: pointer; }
